* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.btn {
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

.btn-primary {
    background-color: #79f;
    color: #fff;
}

.btn-danger {
    background-color: #f97;
    color: #fff;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .85rem;
    width: 100%;
    padding: 1rem;
}

.form_row {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.form_row_fisica {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form_row_fisica p {
    display: flex;
    align-items: center;
    gap: .35rem;
    font-size: .85rem;
    color: #222;
}

.row_relations {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form_relations_container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.form .input_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form input,
.form textarea {
    padding: .5rem;
    border: 1px #ccc solid;
    border-radius: .75rem;
    transition: .2s;
}

.form input:focus,
.form textarea:focus {
    outline: none;
    border: 1px #999 solid;
}

.form .dynamicLabel {
    position: absolute;
    top: 1.09rem;
    color: #666;
    font-size: 14px;
    left: 1rem;
    transform: translateY(-50%);
    transition: .2s;
}

.form input:focus+.dynamicLabel,
.form input:valid+.dynamicLabel,
.form textarea:focus+.dynamicLabel,
.form textarea:valid+.dynamicLabel {
    top: 0;
    font-size: 12px;
    background-color: #fff;
    border-radius: .25rem;
    padding: 0 .25rem;
    left: 1rem;
}

.form-error {
    color: red;
    font-size: 14px;
    margin-left: .5rem;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
    padding: 1rem;
    /* border: solid 1px #ccc; */
    box-shadow: inset #999 0px 0px 10px;
    border-radius: .5rem;
    margin: 0 1rem;
    color: #222;
}