* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .85rem;
    width: 100%;
    padding: 1rem;
}

.form_row {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.row_relations {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.form_add-btn {
    border-radius: .55rem;
    border: none;
    padding: .75rem;
    font-weight: 600;
    font-size: 1rem;
}

.form_relations_container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.form .input_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form input,
.form textarea {
    padding: .5rem;
    border: 1px #ccc solid;
    border-radius: .75rem;
    transition: .2s;
}

.form input:focus,
.form textarea:focus {
    outline: none;
    border: 1px #999 solid;
}

.form .dynamicLabel {
    position: absolute;
    top: 1.09rem;
    color: #666;
    font-size: 14px;
    left: 1rem;
    transform: translateY(-50%);
    transition: .2s;
}

.form input:focus+.dynamicLabel,
.form input:valid+.dynamicLabel,
.form textarea:focus+.dynamicLabel,
.form textarea:valid+.dynamicLabel {
    top: 0;
    font-size: 12px;
    background-color: #fff;
    border-radius: .25rem;
    padding: 0 .25rem;
    left: 1rem;
}

.form-error {
    color: red;
    font-size: 14px;
    margin-left: .5rem;
}